<ol class="breadcrumb">
  <li><a><%= link_to "Tasks", tasks_path %> </a></li>
  <li> <%= @task.description %></li>
  <li class= "active">Edit</li>
</ol>

<h1>Editing task</h1>

<%= render 'form', button_name: "Update Task" %>

<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>
</div>
