<div class= "alert-success text-center" role= "alert"><strong><p> <%= notice %></p></strong></div>

<ol class="breadcrumb">
  <li><a><%= link_to "Tasks", tasks_path %> </a></li>
  <li class= "active"> <%= @task.description %></li>
</ol>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
