<div class="page-header">
  <% if admin? || @user.id == current_user.id %>
  <div class= "pull-right">
    <%= link_to 'Edit User', edit_user_path, class: "btn btn-info btn-primary" %>
  </div>
  <h1><%= ("#{@user.first_name} #{@user.last_name}") %></h1>
</div>
  <%end%>

<p>
  <strong> First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<% if current_user.shared_project?(@user) || admin? || @user.id == current_user.id %>
<p>
  <strong>Email:</strong>
  <%= mail_to(@user.email) %>
</p>
<%end%>

<% if @user.tracker.present? %>
<p>
  <strong> Pivotal Tracker Token:</strong>
  <%= @user.tracker[0..3]%><%= "*" * (@user.tracker.length-4) %>
</p>
<% end %>

<% if admin? %>
<p><strong> Admin:</strong>
    <%= @user.admin %>
  </p>
<% end %>
