<div class= "container">
<div class= "jumbotron">
        <h1><strong>gCamp</strong></h1>
        <p>Your life, organized</p>
</div>


<!-- Example row of columns -->

<div class = "row">
    <div class="col-md-4">
    <div class="image-crop">
    <%= image_tag("blue_flower.jpg", :class => "image-responsive") %>
  </div>
    <div class="panel panel-default">
      <div class="panel-heading">
      <h2 class="panel-title">Tasks</h2>
    </div>
        <div class="panel-body">
          Grouped by projects and lists. Just the way you like'em
        </div>
      </div>
    </div>



  <div class="col-md-4">
    <div class="image-crop">
    <%= image_tag("white_flower.jpg", :class => "image-responsive") %>
    </div>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Documents</h2>
    </div>
        <div class="panel-body">
          <ul>
            <li>Upload</li>
            <li>Comment</li>
            <li>Revise</li>
          </ul>
        </div>
      </div>
    </div>


  <div class="col-md-4">
    <div class="image-crop">
    <%= image_tag("purple_flower.jpg", :class => "image-responsive") %>
    </div>
    <div class= "panel panel-default">
      <div class="panel-heading">
      <h2 class="panel-title">Comments</h2>
      </div>
        <div class="panel-body">
          <ul>
            <li>Comment on tasks and documents</li>
            <li>Get email notifications</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


    <% @quotes.each do |quote| %>
      <div class= "text-faq">
        <blockquote>
          <p><%= quote.text %><p>
          <footer><cite><%= quote.author%></cite></footer>
        </blockquote>
      </div>
    <%end%>
</div>
