<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>gCamp</title>

    <%= stylesheet_link_tag 'application' %>

  </head>

  <body <% if request.path == '/' %> class="full" <% end %>>

    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <ul class="navbar-brand">
          <font size= "6"><%= link_to "gCamp", root_path %> </font>
        </ul>
        <ul class= "navbar-brand navbar-nav navbar-right">
         <li class= "list list-unstyled"><% if current_user %>
         <%= link_to ("#{current_user.first_name} #{current_user.last_name}"), user_path(current_user) %>
         |
         <%= link_to "Sign Out", signout_path %>

    <% else %>

         <%= link_to "Sign Up", signup_path %>
         |
         <%= link_to "Sign In", signin_path %>
    <% end %></li>
        </ul>
        </div>
      </div>

  <div class= "container">
    <% if notice %>
        <div class= "alert-success text-center" role= "alert">
          <strong><p> <%= notice %></p></strong>
        </div>
    <% end %>

    <%= yield %>
  </div>

<hr>

  <div class ="footer">
    <footer class= "container">
      <div>
        <div class= "col-md-5">
          <%= link_to "About |", about_path %> <%= link_to "Terms |", terms_path%> <%= link_to "FAQ |", faq_path %> <%= link_to "Tasks |", tasks_path %> <%= link_to "Users |", users_path %> <%= link_to "Projects", projects_path %>
        </div>

          <div class= "col-md-offset-9">
            <%= link_to "https://www.linkedin.com/profile/view?id=248387462&trk=nav_responsive_tab_profile" do %>
            <%= image_tag("linked_in.jpg") %>
            <%end%> |

            <%= link_to "https://github.com/Geekyflamingo" do %>
            <%= image_tag("GitHub.png") %>
            <%end%> |

            <%= link_to "https://twitter.com/Geekyflamingo" do %>
            <%= image_tag("Twitter.png") %>
            <%end%> |

            <%= link_to "http://www.galvanize.it/school/" do %>
            <%= image_tag("gschool.png") %>
            <%end%>
          </div>
      </div>
    </footer>
  </div>

    </div>


     <%= javascript_include_tag 'application' %>
  </body>
</html>
